
.vs/prjslnback-leandro-ferreira/DesignTimeBuild/.dtbcache.v2
.vs/prjslnback-leandro-ferreira/v16/.suo
.vs/prjslnback-leandro-ferreira/v16/TestStore/0/000.testlog
.vs/prjslnback-leandro-ferreira/v16/TestStore/0/testlog.manifest
/prjslnback.API/obj
/prjslnback.Domain/obj
/prjslnback.Test
/prjslnback.API/bin/Debug/net5.0
/prjslnback.Domain/bin/Debug/net5.0
